@use "../base/_variables";

$colors: (primary-color-envitect-sam-blue: variables.$primary-color-envitect-sam-blue,
  primary-color-navy-blue: variables.$primary-color-navy-blue,
  primary-color-dark-gray: variables.$primary-color-dark-gray,
  primary-color-white: variables.$primary-color-white,
  envitect-sam-blue-90: variables.$envitect-sam-blue-90,
  envitect-sam-blue-80: variables.$envitect-sam-blue-80,
  envitect-sam-blue-70: variables.$envitect-sam-blue-70,
  envitect-sam-blue-60: variables.$envitect-sam-blue-60,
  envitect-sam-blue-50: variables.$envitect-sam-blue-50,
  envitect-sam-blue-40: variables.$envitect-sam-blue-40,
  envitect-sam-blue-30: variables.$envitect-sam-blue-30,
  envitect-sam-blue-20: variables.$envitect-sam-blue-20,
  envitect-sam-blue-10: variables.$envitect-sam-blue-10,
  envitect-sam-blue-5: variables.$envitect-sam-blue-5,
  navy-blue-90: variables.$navy-blue-90,
  navy-blue-80: variables.$navy-blue-80,
  navy-blue-70: variables.$navy-blue-70,
  navy-blue-60: variables.$navy-blue-60,
  navy-blue-50: variables.$navy-blue-50,
  navy-blue-40: variables.$navy-blue-40,
  navy-blue-30: variables.$navy-blue-30,
  navy-blue-20: variables.$navy-blue-20,
  navy-blue-10: variables.$navy-blue-10,
  dark-gray-90: variables.$dark-gray-90,
  dark-gray-80: variables.$dark-gray-80,
  dark-gray-70: variables.$dark-gray-70,
  dark-gray-60: variables.$dark-gray-60,
  dark-gray-50: variables.$dark-gray-50,
  dark-gray-40: variables.$dark-gray-40,
  dark-gray-30: variables.$dark-gray-30,
  dark-gray-20: variables.$dark-gray-20,
  dark-gray-10: variables.$dark-gray-10,
  Gradient-Sam-Blue: variables.$Gradient-Sam-Blue,
  Gradient-Navy-Blue: variables.$Gradient-Navy-Blue,
  Gradient-Red: variables.$Gradient-Red,
  color-success: variables.$color-success,
  color-info: variables.$color-info,
  color-warning: variables.$color-warning,
  color-danger: variables.$color-danger,
  color-orange: variables.$color-orange,
);

@each $color-name,
$color-value in $colors {
  .text-#{$color-name} {
    color: $color-value;
  }

  .bg-#{$color-name} {
    background-color: $color-value;
  }

  .border-#{$color-name} {
    border-color: $color-value;
  }
}