$spacing-values: 2px, 4px, 5px, 8px, 12px, 13px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 32px, 38px, 40px, 48px, 52px,
64px, 80px, 82px, 85px, 96px, 128px, 160px, 192px, 240px;


@each $spacing in $spacing-values {
  .mt-#{$spacing} {
    margin-top: #{$spacing};
  }

  .mb-#{$spacing} {
    margin-bottom: #{$spacing};
  }

  .ml-#{$spacing} {
    margin-left: #{$spacing};
  }

  .mr-#{$spacing} {
    margin-right: #{$spacing};
  }

  .pt-#{$spacing} {
    padding-top: #{$spacing};
  }

  .pb-#{$spacing} {
    padding-bottom: #{$spacing};
  }

  .pl-#{$spacing} {
    padding-left: #{$spacing};
  }

  .pr-#{$spacing} {
    padding-right: #{$spacing};
  }
}

@each $spacing in $spacing-values {
  .mx-#{$spacing} {
    margin-left: #{$spacing};
    margin-right: #{$spacing};
  }

  .my-#{$spacing} {
    margin-top: #{$spacing};
    margin-bottom: #{$spacing};
  }

  .px-#{$spacing} {
    padding-left: #{$spacing};
    padding-right: #{$spacing};
  }

  .py-#{$spacing} {
    padding-top: #{$spacing};
    padding-bottom: #{$spacing};
  }
}

@each $spacing in $spacing-values {
  .m-#{$spacing} {
    margin: #{$spacing};
  }

  .p-#{$spacing} {
    padding: #{$spacing};
  }
}


@each $spacing in $spacing-values {
  .gap-#{$spacing} {
    gap: #{$spacing};
  }
}
