@use "variables";

@mixin media-query($breakpoint) {
  @if map-has-key(variables.$breakpoints, $breakpoint) {
    @media screen and #{map-get(variables.$breakpoints, $breakpoint)} {
      @content;
    }
  }
}

@mixin font-styles($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: $line-height;
}
