/* Primary Colors */
$primary-color-envitect-sam-blue: #1476BF;
$primary-color-navy-blue: #1D3566;
$primary-color-dark-gray: #565656;
$primary-color-white: #FFFFFF;

/* Shades of Envitect Sam Blue */
$envitect-sam-blue-90: #2C84C5;
$envitect-sam-blue-80: #4391CC;
$envitect-sam-blue-70: #5B9FD2;
$envitect-sam-blue-60: #72ADD9;
$envitect-sam-blue-50: #89BADF;
$envitect-sam-blue-40: #A1C8E5;
$envitect-sam-blue-30: #B9D6EC;
$envitect-sam-blue-20: #D0E4F2;
$envitect-sam-blue-10: #F3F8FC;
$envitect-sam-blue-5: #FAFCFE;

/* Shades of Navy Blue */
$navy-blue-90: #344975;
$navy-blue-80: #4A5D85;
$navy-blue-70: #617294;
$navy-blue-60: #7786A3;
$navy-blue-50: #8E9AB2;
$navy-blue-40: #A5AEC2;
$navy-blue-30: #BBC2D1;
$navy-blue-20: #D2D7E0;
$navy-blue-10: #E8EBF0;

/* Shades of Dark Gray */
$dark-gray-90: #676767;
$dark-gray-80: #787878;
$dark-gray-70: #898989;
$dark-gray-60: #9A9A9A;
$dark-gray-50: #AAAAAA;
$dark-gray-40: #BBBBBB;
$dark-gray-30: #CCCCCC;
$dark-gray-20: #DDDDDD;
$dark-gray-10: #EEEEEE;

/*Gradient Colors*/
$Gradient-Sam-Blue: linear-gradient(90deg, #1476BF 0%, #09F 100%);
$Gradient-Navy-Blue: linear-gradient(90deg, #1D3566 0%, #0D40A9 100%);
$Gradient-Red: linear-gradient(90deg, #F00000 0%, #DE0000 100%);

/*Other Colors*/
$color-success: #53A451;
$color-info: #4BA0B5;
$color-warning: #F6C244;
$color-danger: #CB444A;
$color-orange: #F2994A;
