:root {
    /* Primary Colors */
    --primary-color-envitect-sam-blue: #1476bf;
    --primary-color-navy-blue: #1d3566;
    --primary-color-dark-gray: #565656;
    --primary-color-white: #ffffff;

    /* Shades of Envitect Sam Blue */
    --envitect-sam-blue-90: #2c84c5;
    --envitect-sam-blue-80: #4391cc;
    --envitect-sam-blue-70: #5b9fd2;
    --envitect-sam-blue-60: #72add9;
    --envitect-sam-blue-50: #89badf;
    --envitect-sam-blue-40: #a1c8e5;
    --envitect-sam-blue-30: #b9d6ec;
    --envitect-sam-blue-20: #d0e4f2;
    --envitect-sam-blue-5: #f3f8fc;
    --envitect-sam-blue-2: #fafcfe;

    /* Shades of Navy Blue */
    --navy-blue-90: #344975;
    --navy-blue-80: #4a5d85;
    --navy-blue-70: #617294;
    --navy-blue-60: #7786a3;
    --navy-blue-50: #8e9ab2;
    --navy-blue-40: #a5aec2;
    --navy-blue-30: #bbc2d1;
    --navy-blue-20: #d2d7e0;
    --navy-blue-10: #e8ebf0;

    /* Shades of Dark Gray */
    --dark-gray-90: #676767;
    --dark-gray-80: #787878;
    --dark-gray-70: #898989;
    --dark-gray-60: #9a9a9a;
    --dark-gray-50: #aaaaaa;
    --dark-gray-40: #bbbbbb;
    --dark-gray-30: #cccccc;
    --dark-gray-20: #dddddd;
    --dark-gray-10: #eeeeee;

    /*Gradient Colors*/
    --Gradient--Sam-Blue: linear-gradient(90deg, #1476bf 0%, #09f 100%);
    --Gradient-Navy-Blue: linear-gradient(90deg, #1d3566 0%, #0d40a9 100%);
    --Gradient-Red: linear-gradient(90deg, #f00000 0%, #de0000 100%);

    /*Other Colors*/
    --color-success: #53a451;
    --color-info: #4ba0b5;
    --color-warning: #f6c244;
    --color-danger: #cb444a;
    --color-orange: #f2994a;

    --product-Front-color: #f9f9f9;
}


.faq-tab-header {
    background: var(--primary-color-white);
    color: var(--dark-gray-80);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    padding: 18px 24px;
    box-shadow: 0 2px 8px 0 rgba(189, 189, 189, 0.12);
}

.faq-tab-header.active {
    color: var(--primary-color-envitect-sam-blue);
    font-weight: 700;
}


.primary-color-navy-blue {
    color: var(--primary-color-navy-blue)
}

.dark-gray-100 {
    color: var(--primary-color-dark-gray)
}

.dark-gray-40 {
    color: var(--dark-gray-40)
}


.button-primary {
    height: 28px;
    border-radius: 2px;
    cursor: pointer;
    background: var(--primary-color-envitect-sam-blue);
    color: var(--primary-color-white);

    display: inline-flex;
    padding: 2px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@media (max-width: 768px) {
    .button-primary {
        height: 20px;
    }
}

.button-primary[disabled] {
    background: var(--dark-gray-20);
}

.mb-12px {
    margin-bottom: 12px;
}

.mb-16px {
    margin-bottom: 16px;
}

.mx-32px {
    margin: 0 32px;
}

.pb-10px {
    padding-bottom: 10px;
}


.my-32px {
    margin: 32px 0;
}

.mb-32px {
    margin-bottom: 32px;
}

.px-16px {
    padding-left: 16px;
    padding-right: 16px
}


.card-carousel--nav__left,
.card-carousel--nav__right {
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    background: var(--primary-color-envitect-sam-blue);
    color: var(--primary-color-white);
}

.card-carousel--nav__left[disabled],
.card-carousel--nav__right[disabled] {
    background: var(--dark-gray-20);
}


/* sm: Breakpoint of screens such as phones. (up to 640px) */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }


    /* Fonts style classes start */
    .font-heading-1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
    }

    .font-heading-2 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }

    .font-heading-3 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }

    .font-heading-3-semi-bold {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }

    .font-heading-4 {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
    }

    .font-heading-4-semi-bold {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
    }

    .font-heading-5 {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    .font-heading-5-semi-bold {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }

    .font-heading-6 {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
    }

    .font-heading-6-semi-bold {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
    }

    .text-semi-bold-5 {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    /* Fonts style classes end */

}

/* md: Breakpoint of screens such as tablets. (641px to 768px) */
@media screen and (min-width: 577px) and (max-width: 768px) {
    /* CSS styles for medium screens */
}

/* lg: Breakpoint of screens such as notebook monitors. (769px to 992px) */
@media screen and (min-width: 769px) and (max-width: 992px) {
    /* CSS styles for medium screens */
}

/* xl: Breakpoint of smaller screens such as desktop monitors. (993px to 1200px) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    /* CSS styles for large screens */
}
