/* Reseat Browser's Default CSS Start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reseat Browser's Default CSS End */


:root {
    background: #FFF;
    font-family: Poppins, serif;


    /* Primary Colors */
    --primary-color-envitect-sam-blue: #1476BF;
    --primary-color-navy-blue: #1D3566;
    --primary-color-dark-gray: #565656;
    --primary-color-white: #FFFFFF;

    /* Shades of Envitect Sam Blue */
    --envitect-sam-blue-90: #2C84C5;
    --envitect-sam-blue-80: #4391CC;
    --envitect-sam-blue-70: #5B9FD2;
    --envitect-sam-blue-60: #72ADD9;
    --envitect-sam-blue-50: #89BADF;
    --envitect-sam-blue-40: #A1C8E5;
    --envitect-sam-blue-30: #B9D6EC;
    --envitect-sam-blue-20: #D0E4F2;
    --envitect-sam-blue-5: #F3F8FC;
    --envitect-sam-blue-2: #FAFCFE;

    /* Shades of Navy Blue */
    --navy-blue-90: #344975;
    --navy-blue-80: #4A5D85;
    --navy-blue-70: #617294;
    --navy-blue-60: #7786A3;
    --navy-blue-50: #8E9AB2;
    --navy-blue-40: #A5AEC2;
    --navy-blue-30: #BBC2D1;
    --navy-blue-20: #D2D7E0;
    --navy-blue-10: #E8EBF0;

    /* Shades of Dark Gray */
    --dark-gray-90: #676767;
    --dark-gray-80: #787878;
    --dark-gray-70: #898989;
    --dark-gray-60: #9A9A9A;
    --dark-gray-50: #AAAAAA;
    --dark-gray-40: #BBBBBB;
    --dark-gray-30: #CCCCCC;
    --dark-gray-20: #DDDDDD;
    --dark-gray-10: #EEEEEE;


    /*Gradient Colors*/
    --Gradient--Sam-Blue: linear-gradient(90deg, #1476BF 0%, #09F 100%);
    --Gradient-Navy-Blue: linear-gradient(90deg, #1D3566 0%, #0D40A9 100%);
    --Gradient-Red: linear-gradient(90deg, #F00000 0%, #DE0000 100%);


    /*Other Colors*/
    --color-success: #53A451;
    --color-info: #4BA0B5;
    --color-warning: #F6C244;
    --color-danger: #CB444A;
    --color-orange: #F2994A;


    --product-Front-color: #f9f9f9;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}


.button-primary {
    height: 28px;
    border-radius: 2px;
    cursor: pointer;
    background: var(--primary-color-envitect-sam-blue);
    color: var(--primary-color-white);

    display: inline-flex;
    padding: 2px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.button-primary[disabled] {
    background: var(--dark-gray-20);
}


.card-carousel--nav__left,
.card-carousel--nav__right {
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    background: var(--primary-color-envitect-sam-blue);
    color: var(--primary-color-white);
}

.card-carousel--nav__left[disabled],
.card-carousel--nav__right[disabled] {
    background: var(--dark-gray-20);
}


/* sm: Breakpoint of screens such as phones. (up to 640px) */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }


    /* Fonts style classes end */
    .button-primary {
        height: 20px;
    }

}

/* md: Breakpoint of screens such as tablets. (641px to 768px) */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
}

/* lg: Breakpoint of screens such as notebook monitors. (769px to 992px) */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
}

/* xl: Breakpoint of large screens such as laptop. (993px to 1200px) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
}


/* xxl: Breakpoint of extra large screens such as desktop monitors. (1200px to 1440px) */
@media screen and (min-width: 1201px) and (max-width: 1440px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
}
