:root {
    background: #FFF;
    font-family: Poppins, serif;


    /*    Colors Variables  */
    --primary-color-envitect-sam-blue: #1476BF;
    --primary-color-navy-blue: #1D3566;
    --primary-color-dark-gray: #565656;
    --primary-color-white: #FFFFFF;
    --product-Front-color: #f9f9f9;


}
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

h4,
h2,
h3,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}


.heading2 {
    color: var(--primary-color-navy-blue);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
}


.subtitle {
    color: var(--primary-color-dark-gray);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.mb-12px {
    margin-bottom: 12px;
}

@media only screen and (max-width: 600px){
    .container{
        width: 100%;
        padding: 0 16px;
    }
}